<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Comité Organizador
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>

            <ul>
                <li>Gisela Díaz (Presidenta UIC Cienfuegos)</li>
                <li>Raidell Avello Martínez (UIC - UCF)</li>
                <li>Liliana Llanes (UIC)</li>
                <li>Redeis Alonso (UIC - ETECSA)</li>
                <li>Carlos Cesar Caballero (UIC - TCP)</li>
                <li>Keila Gascón (Gobierno Provincial)</li>
            </ul>
        </ion-card-content>
    </ion-card>
</ion-content>
