<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Bienvenidos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/cambio_climatico.png" alt=""/>
        <ion-card-header>
            <ion-card-title>Bienvenidos</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>
                La Unión de Informáticos de Cuba (UIC) convoca a al <strong>Taller Provincial "Apoyo al fortalecimiento
                de capacidades para el enfrentamiento al cambio climático en la ciudad de Cienfuegos"</strong>,
                a celebrarse los días 18, 19 y 20 de diciembre de 2020 en la provincia de Cienfuegos, Cuba.
            </p>

            <ion-card-subtitle>Principales actividades</ion-card-subtitle>

            <ul>
                <li>Presentación de trabajos del Concurso: “Apoyo al fortalecimiento de capacidades para el enfrentamiento al cambio climático en la ciudad de Cienfuegos”</li>
                <li>Conferencia sobre Cambio Climático</li>
                <li>Tormenta de ideas sobre TIC – Cambio Climático</li>
            </ul>

            <ion-card-subtitle>Lugar</ion-card-subtitle>

            <p>La jornada se desarrollará en las instalaciones del Hotel Rancho Luna, perteneciente a la cadena Gran
                Caribe, dirección km 17 Carretera a Pasacaballo, Playa Rancho Luna.</p>

            <p>Entre las principales atracciones del entorno se encuentra la Playa Rancho Luna, el Parque Acuático
                Inflable
                y el Delfinario.</p>
        </ion-card-content>
    </ion-card>
</ion-content>

