<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Colaboradores
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <a href="https://www.uic.cu" target="_blank"><img src="/assets/uic.png" alt="UIC"/></a>
        <ion-content>
            <ion-card-title>UIC</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>

    <ion-card>
        <a href="https://sgp.undp.org/component/countrypages/?view=countrypage&country=41&Itemid=271" target="_blank"><img src="/assets/sgp.png" alt="PNUD"/></a>
        <ion-content>
            <ion-card-title>PNUD</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>

    <ion-card>
        <a href="http://www.ipf.gob.cu/es/content/cienfuegos-0" target="_blank"><img src="/assets/ipf.png" alt="Instituto de Planificación Física"/></a>
        <ion-content>
            <ion-card-title>Instituto de Planificación Física</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>

    <ion-card>
        <a href="https://www.cienfueguero.gob.cu" target="_blank"><img src="/assets/poder_popular.jpg" alt="Poder Popular Cienfuegos"/></a>
        <ion-content>
            <ion-card-title>Poder Popular Cienfuegos</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>

    <ion-card>
        <a href="https://www.citma.gob.cu" target="_blank"><img src="/assets/citma.jpg" alt="CITMA"/></a>
        <ion-content>
            <ion-card-title>CITMA</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>

    <ion-card>
        <a href="https://www.daxslab.com" target="_blank"><img src="/assets/daxslab.png" alt="Daxslab"/></a>
        <ion-content>
            <ion-card-title>Daxslab</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>
</ion-content>
